<div>
  <h1>¿Qué me parece Angular?</h1>
  <article>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vehicula ante eu sapien vehicula facilisis.
      Nullam pharetra orci vel mauris maximus dictum ac eu nisl. Ut tincidunt, magna quis imperdiet hendrerit, velit
      nulla aliquet dolor, ut condimentum quam nulla eget tellus. Integer quam ex, facilisis vel aliquam id, mollis vel
      orci. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Praesent volutpat
      libero vitae nisi condimentum cursus. Nunc ligula est, varius in libero at, semper pretium turpis. Vestibulum sit
      amet metus in elit imperdiet vestibulum. Morbi sed nisl laoreet mauris mattis tempus sit amet eget lacus. Duis nec
      ante sed augue dapibus ultricies vitae vel nulla. Nunc sit amet orci in lacus placerat varius. Praesent porta,
      sapien eu malesuada tincidunt, odio enim efficitur magna, eu lobortis lectus urna eu enim. Curabitur fermentum,
      nulla venenatis euismod sagittis, eros ipsum dictum dui, at ultrices lorem mauris nec nulla. Curabitur quis velit
      a mi fermentum volutpat vitae ut risus.</p>
    <p>Nunc nec purus scelerisque, posuere nisi et, dignissim ante. Etiam sodales ligula non pulvinar viverra. Ut eget
      odio mollis, rhoncus est in, mollis magna. Sed nunc nisi, aliquam ac ex sit amet, vehicula varius lorem. Cras
      ligula erat, vestibulum lacinia posuere sit amet, sagittis at lorem. Vivamus egestas ligula hendrerit, aliquet
      velit eget, lacinia tellus. Duis sagittis faucibus dictum. Sed non est tincidunt, blandit leo quis, porta diam.
      Praesent fermentum purus lectus, eu convallis eros dignissim id. Nunc efficitur ornare libero, quis lacinia ipsum
      mollis vitae. Maecenas cursus eros a ipsum varius, quis maximus tortor dignissim. Donec feugiat malesuada odio,
      vitae finibus dui faucibus eu. Duis odio justo, suscipit sit amet nulla finibus, iaculis tincidunt neque.
    </p>
    <p>
      Mauris posuere fringilla purus, eu tempor ligula. Nullam ut quam volutpat, bibendum erat sed, tincidunt dolor.
      Aliquam hendrerit aliquam risus. Praesent ut felis eu dui finibus pellentesque. Curabitur euismod convallis
      tortor. Maecenas tellus nisi, varius vitae pellentesque sit amet, accumsan et tortor. Donec feugiat tortor non
      urna rutrum tempus. Praesent odio libero, pretium nec lacinia ac, tempus id massa. Ut id leo mi. Suspendisse
      molestie finibus pretium. Vestibulum urna ex, pharetra eget tempus et, dictum sed nisl. Nulla congue nibh eu
      tellus sollicitudin, quis consequat ligula facilisis. Curabitur elit ligula, elementum at aliquet vitae, iaculis
      eu mauris. Aenean tincidunt tristique urna, ac aliquam orci fringilla non. Integer ullamcorper id velit at
      maximus.
    </p>
  </article>
  @defer (on viewport) {
  <app-comments></app-comments>
  } @placeholder {
  <h3>Futuros comentarios</h3>
  } @loading {
  <p>Cargando comentarios...</p>
  }
</div>



<!-- <router-outlet></router-outlet> -->